/*body {
    text-align: center;
    font-family: Merriweather, serif;
    max-height: 1780px;
    background-color: #e8eaea;
}*/
body {
    background-color: #cccccc;
    background-image: url("kenrick-mills-728501-unsplash.jpg");
    background-size:100%;
    background-attachment: fixed;
   }

